<div class="bd-plugin-card">
    <div class="bd-plugin-header">
        <span>{{plugin.name}}</span>
        <div class="bd-flex-spacer"/>
        <label class="bd-switch-wrapper">
            <input type="checkbox" class="bd-switch-checkbox" />
            <div class="bd-switch"/>
        </label>
    </div>
    <div class="bd-plugin-body">
        <div class="bd-plugin-description">{{plugin.description}}</div>
        <div class="bd-plugin-footer">
            <div class="bd-plugin-extra">v{{plugin.version}} by {{plugin.authors.join(', ').replace(/,(?!.*,)/gmi, ' and')}}</div>
            <div class="bd-controls"></div>
        </div>
    </div>
</div>