.bd-settings-button {
    position: absolute;
    z-index: 1;
    top: 22px;
    width: 70px;
    height: 48px;
    left: 0;
    background: #202225;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.06);
    opacity: 1;

    .bd-settings-button-btn {
        background-image: $logoSmallBw;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        z-index: 3000;
        cursor: pointer;
        filter: grayscale(100%);
        opacity: 0.5;
        transition: all 0.4s ease-in-out;

        &:hover {
            filter: none;
            opacity: 1;
        }
    }

    &.active {
        background: transparent;
        opacity: 1;
        box-shadow: none;
        z-index: 90000;

        .bd-settings-button-btn {
            background-image: $logoBigBw;
            filter: none;
            opacity: 1;
            width: 130px;
            height: 80px;
            background-size: 100% 100%;
            margin-left: 20px;
            cursor: default;
        }
    }
}

.bd-settings {
    position: absolute;
    top: 22px;
    left: 0;
    bottom: 0;
    z-index: 3000;
    width: 310px;
    transform: translateX(-100%) translateY(-100%);
    opacity: 0;
    transition: all .4s ease-in-out;

    &.active {
        width: 900px;
        transform: none;
        opacity: 1;
    }

    .bd-settings-x {
        position: absolute;
        top: 15px;
        left: 250px;
        border: 2px solid #6e6e6e;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        justify-content: center;
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
            color: #72767d;
            position: absolute;
            top: 32px;
            font-weight: 600;
            font-size: 13px;
        }

        &:hover {
            background-color: hsla(218,5%,47%,.3);
        }
    }

    .platform-darwin & {
        top: 0px;

        .bd-sidebar-view .bd-sidebar-region,
        .bd-sidebar-view .bd-content-region {
            padding-top: 22px;
        }
    }
}