.bd-scroller-wrap {
    display: flex;
    width: 100%;

    .bd-scroller {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 14px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #1e2124;
            border-color: #36393e;
        }

        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-track-piece {
            background-clip: padding-box;
            border-width: 3px;
            border-style: solid;
            border-radius: 7px;
        }

        &::-webkit-scrollbar-track-piece {
            background-color: #2f3136;
            border-color: #36393e;
        }
    }

    &.bd-dark {
        .bd-scroller {
            &::-webkit-scrollbar-thumb {
                background-color: #36393e;
                border-color: transparent;
            }

            &::-webkit-scrollbar-track-piece {
                background-color: #2b2e31;
                border-color: transparent;
            }
        }
    }
}
