.bd-scroller-wrap {
    display: flex;
    width: 100%;

    .bd-scroller {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 14px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #1e2124;
            border-color: #36393e;
            border-color: transparent;
        }

        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-track-piece {
            background-clip: padding-box;
            border-width: 3px;
            border-style: solid;
            border-radius: 7px;
            border-color: transparent;
        }

        &::-webkit-scrollbar-track-piece {
            background-color: #2f3136;
            border-color: #36393e;
            border-color: transparent;
        }
    }

    &.bd-dark {
        .bd-scroller {
            &::-webkit-scrollbar-thumb {
                background-color: #36393e;
                border-color: transparent;
            }

            &::-webkit-scrollbar-track-piece {
                background-color: #2b2e31;
                border-color: transparent;
            }
        }
    }
}

.bd-button {
    cursor: pointer;
    color: #b9bbbe;
    background: #202225;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    font-weight: 500;
}

.bd-form-item h5 {
    color: #b9bbbe;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.bd-form-divider {
    height: 1px;
    margin-top: 8px;
    margin-bottom: 40px;
    background: hsla(218,5%,47%,.3);
}

.bd-form-warning {
    display: flex;
    margin-top: 20px;
    background: #d84040;
    border: 1px solid #B30B0B;
    opacity: .8;
    border-radius: 4px;
    padding: 10px;
}

.bd-form-warning .bd-text {
    display: flex;
    color: #FFF;
    font-weight: 700;
    align-items: center;
    flex-grow: 1;
}

.bd-form-warning .bd-form-button {
    margin: 0;
    align-self: flex-end;
    background: #C42929;

    &:hover {
        background: lighten(#C42929, 2%);
    }
}

.bd-form-button {
    background: #3e82e5;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    user-select: none;

    &:hover {
        background: lighten(#3e82e5, 5%);
    }
}