.bd-plugin-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #2f3136;
    border: 1px solid #202225;
    padding: 10px 5px;
    min-height: 150px;
    color: #b9bbbe;
    border-radius: 8px;
    margin-top: 10px;

    .bd-plugin-header {
        padding-bottom: 5px;
        display: flex;
        flex-grow: 0;
        font-weight: 700;
    }

    .bd-plugin-body {
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        .bd-plugin-description {
            flex-grow: 1;
            overflow-y: auto;
            max-height: 60px;
            min-height: 60px;
            color: #8a8c90;
            font-size: 12px;
            font-weight: 600;
            background: rgba(0,0,0,.05);
            padding: 5px;
            border-radius: 8px;
            margin-top: 5px;
        }

        .bd-plugin-footer {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
            align-items: flex-end;

            .bd-plugin-extra {
                color: rgba(255, 255, 255, 0.15);
                font-size: 10px;
                font-weight: 700;
            }
        }
    }

    .bd-switch-wrapper {
        flex: 0 0 auto;
        user-select: none;
        position: relative;
        width: 40px;
        height: 20px;
        display: block;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .bd-switch {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #72767d;
            border-radius: 14px;
            transition: background .15s ease-in-out,box-shadow .15s ease-in-out,border .15s ease-in-out;

            &:before {
                content: "";
                display: block;
                width: 14px;
                height: 14px;
                position: absolute;
                top: 3px;
                left: 3px;
                bottom: 3px;
                background: #f6f6f7;
                border-radius: 10px;
                transition: all .15s ease;
                box-shadow: 0 3px 1px 0 rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.1), 0 3px 3px 0 rgba(0,0,0,.05);
            }
        }
    }
}
