.bd-sidebar-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    box-sizing: border-box;

    .bd-sidebar-region {
        background: #202225;
        -webkit-box-flex: 1;
        -webkit-box-pack: end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-end;
        flex: 1 0 30%;
        z-index: 5;
        max-width: 310px;
        min-width: 310px;

        .bd-settingsWrap {
            display: flex;
            height: 100%;
            -webkit-box-flex: 1;
            flex: 1;
            min-height: 1px;
            box-sizing: border-box;
            padding: 80px 15px 15px 15px;

            .bd-scroller.bd-sidebar {
                width: 100%;
                padding-right: 20px;
                padding: 0;

                .bd-header {
                    padding: 6px 0;
                    margin-left: 10px;
                    margin-top: 15px;
                    color: rgba(255, 255, 255, 0.15);
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                    flex-shrink: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
                }

                .bd-item {
                    border-radius: 3px;
                    margin-bottom: 2px;
                    padding-bottom: 6px;
                    padding-top: 6px;
                    padding: 6px 10px;
                    color: $coldimwhite;
                    cursor: pointer;
                    font-size: 17px;
                    line-height: 20px;
                    position: relative;
                    flex-shrink: 0;
                    font-weight: 500;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;

                    &:hover,
                    &.active {
                        background: $colbdblue;
                    }

                    &.active {
                        color: #FFF;
                    }
                }
            }
        }
    }

    .bd-content-region {
        flex-grow: 1;
        transform: translateX(-100%);
        background: #36393e;
        box-shadow: 0 0 4px #202225;

        .bd-content-column {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            height: 100%;

            > div {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }

            .bd-settingsWrap {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .bd-scroller-wrap {
                    flex-grow: 1;
                    height: 100%;
                }

                .bd-settingsWrap-header {
                    color: $colbdblue;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    font-size: 100%;
                    outline: 0;
                    padding: 0;
                    vertical-align: baseline;
                }
            }
        }
    }

    .bd-content-column > div:not(.active) {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .bd-content {
        animation: bd-fade-in .4s forwards;

        .animating {
            animation: bd-fade-out .4s forwards;
        }

        .bd-settingsWrap {
            padding: 20px 15px 15px 15px;
        }
    }



    &.active {
        .bd-content-region {
            animation: bd-slidein .6s forwards;
        }
    }
}
