<SettingsWrapper headertext="CSS Editor">
    <div class="bd-css-editor">
        <div class="bd-form-item">
            <h5>Settings</h5>
        </div>
        <div class="bd-form-divider"></div>
        <div class="bd-form-item">
            <h5>Custom Editor</h5>
            <div class="bd-form-warning">
                <div class="bd-text">Custom Editor is not installed!</div>
                <div class="bd-form-button">
                    Install
                </div>
            </div>
            <span style="color: #FFF; font-size: 12px; font-weight: 700;">*This is displayed if editor is not installed</span>
            <div class="bd-form-button" @click="openInternalEditor">
                Open
            </div>
        </div>
        <div class="bd-form-divider"></div>
        <div class="bd-form-item">
            <h5>System Editor</h5>
            <div class="bd-form-button">
                Open
            </div>
        </div>
        <div class="bd-form-divider"></div>
    </div>
</SettingsWrapper>